/* Your CSS Code here.*/
th,td,table{
			padding-right:60px;
			border-color:black;
			border-style:solid;
			border-collapse:collapse;
		}
		th{
			text-align:left;
			background:#c0504d;
			color:white;
		}

		td{
			text-align:right;
		}

		table{
			width:50%;
		}